imports:
    - { resource: parameters.yml }
    - { resource: security.yml }
    - { resource: services.yml }

# Put parameters here that don't need to change on each machine where the app is deployed
# http://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:
    locale: en

framework:
    #esi:             ~
    #translator:      { fallbacks: ["%locale%"] }
    secret:          "%secret%"
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: ~
    form:            ~
    csrf_protection: ~
    validation:      { enable_annotations: true }
    #serializer:      { enable_annotations: true }
    templating:
        engines: ['twig']
    default_locale:  "%locale%"
    trusted_hosts:   ~
    trusted_proxies: ~
    session:
        # http://symfony.com/doc/current/reference/configuration/framework.html#handler-id
        # handler_id:  session.handler.native_file
        # save_path:   "%kernel.root_dir%/../var/sessions/%kernel.environment%"
        handler_id: snc_redis.session.handler
    fragments:       ~
    http_method_override: true
    assets: ~
    php_errors:
        log: true

endroid_twitter:
    consumer_key: '%env(TWITTER_KEY)%'
    consumer_secret: '%env(TWITTER_SEC)%'
    access_token: '%env(TWITTER_ACC_TOKEN)%'
    access_token_secret: '%env(TWITTER_ACC_SEC)%'

nilportugues_json_api:
    mappings:
        - "%kernel.root_dir%/config/serializer/"
        - "@StrayobjectTwitterstatsBundle/Resources/config/Mappings"

# Twig Configuration
twig:
    debug:            "%kernel.debug%"
    strict_variables: "%kernel.debug%"

# Doctrine Configuration
doctrine:
    dbal:
        driver:   pdo_mysql
        host:     "%database_host%"
        port:     "%database_port%"
        dbname:   "%database_name%"
        user:     "%database_user%"
        password: "%database_password%"
        charset:  UTF8
        # if using pdo_sqlite as your database driver:
        #   1. add the path in parameters.yml
        #     e.g. database_path: "%kernel.root_dir%/data/data.db3"
        #   2. Uncomment database_path in parameters.yml.dist
        #   3. Uncomment next line:
        #     path:     "%database_path%"

    orm:
        auto_generate_proxy_classes: "%kernel.debug%"
        default_entity_manager: default
        entity_managers:
            default:
                connection: default
                # dql:
                #     datetime_functions:
                #         date: DoctrineExtensions\Query\Mysql\Date
                naming_strategy: doctrine.orm.naming_strategy.underscore
                auto_mapping: true

# Swiftmailer Configuration
swiftmailer:
    transport: "%mailer_transport%"
    host:      "%mailer_host%"
    username:  "%mailer_user%"
    password:  "%mailer_password%"
    spool:
        # type: memory
        type: file
        path: "%kernel.cache_dir%/swiftmailer/spool"

snc_redis:
    clients:
        default:
            type: predis
            alias: default
            dsn: redis://redis
            logging: %kernel.debug%
        cache:
            type: predis
            alias: cache
            dsn: redis://redis/1
            logging: true
        session:
            type: predis
            alias: session
            dsn: redis://redis/2
            logging: %kernel.debug%
        # profiler_storage:
        #     type: predis
        #     alias: profiler_storage
        #     dsn: redis://redis/2
        #     logging: false
        # cluster:
        #     type: predis
        #     alias: cluster
        #     dsn:
        #         - redis://127.0.0.1/1
        #         - redis://127.0.0.2/2
        #         - redis://pw@/var/run/redis/redis-1.sock/10
        #         - redis://pw@127.0.0.1:63790/10
        #     options:
        #         profile: 2.4
        #         connection_timeout: 10
        #         connection_persistent: true
        #         read_write_timeout: 30
        #         iterable_multibulk: false
        #         throw_errors: true
        #         cluster: Snc\RedisBundle\Client\Predis\Connection\PredisCluster
        #         replication: false
    session:
        client: session
        prefix: sess
    # TODO: consider moving doctrine related settings to config_prod
    doctrine:
        metadata_cache:
            client: cache
            entity_manager: default
            document_manager: default
        result_cache:
            client: cache
            entity_manager: [default, read]
            #document_manager: [default, slave1, slave2]
            namespace: "dcrc:"
        query_cache:
            client: cache
            entity_manager: default
        second_level_cache:
            client: cache
            entity_manager: default
    # monolog:
    #     client: cache
    #     key: monolog
    swiftmailer:
        client: default
        key: swiftmailer
